{% load static %}
<body style="display: none">
	<meta http-equiv="Page-Enter" content="blendTrans(duration=0)" />
	<meta http-equiv="Page-Exit" content="blendTrans(duration=0)" />
	<div class="page-header" >
		<h3><a href="/monitoring">YAMS</a><h3>
	</div>
	{% include "monitoring/navigation.html" %}
	<div class="content container">
		<div class="row">
			<div class="col-md-8">
				{% block content %}
				{% endblock %}
			</div>
		</div>
	</div>
	<link rel="stylesheet" type="text/css" href="{% static 'monitoring/style.css' %}">
</body>
