{% extends 'monitoring/base.html' %}
{% block content %}
<p>{{ dashboard }}</p>
{% if groups %}
	{% for group in groups.all %}
		<tr>{{ group| linebreaks }}</tr>
		<div class="dashboard" style="display: grid; grid-auto-columns: minmax(400px, 600px);">
		<span>
		{% for host in group.hosts.all %} 
			<a href='{{ host.id }}' style="text-decoration: none; ">
				<button class="button" type="button"><span>{{ host }}</span></button>
			</a>
		{% endfor %}
		</span>
		</div>
	{% endfor %}

{% else %}
	<p>No groups</p>
{% endif %}
{% endblock %}
