{% extends 'monitoring/base.html' %}
{% block navigation %}
{% if dashboard_list %}
<!--
	<select>
	{% for dashboard in dashboard_list %}
		<option onclick='document.location.href="/monitoring/dashboard/{{dashboard.id}}/"'>{{ dashboard.name }}</option> 
	{% endfor %}
	</select>
-->
<div class="dashboard">
<ul>
	{% for dashboard in dashboard_list %}
	<p> {{ request.path }}</p>
		<li><a class="{% if request.path == dashboard.id %} active {% endif %}" href="/monitoring/dashboard/{{dashboard.id}}/">{{ dashboard.name }}</a></li>
	{% endfor %}
	
</ul>
</div>
{% else %}
	<p>No dashboards are available.</p>
{% endif %}
{% endblock %}
